---
export const prerender = true;

import Unit from '../../components/Unit.astro';

const imgUrlPrefix = "https://res.cloudinary.com/dtysyyt3a/"

export async function getStaticPaths() {
    const url = "https://web-production-2275.up.railway.app/courses/";
    const response = await fetch(url);
    const courses = await response.json();

    return courses.map((course: any) => ({
        params: { slug: course.slug },
        props: { course },
    }));
}

interface Props {
    course: any;
}
const { course } = Astro.props;

let url: string
url = `https://web-production-2275.up.railway.app/courses/${course.id}/lessons`;
let response = await fetch(url);
const lessons: Array<any> = await response.json();

url = `https://web-production-2275.up.railway.app/courses/${course.id}/units`;
response = await fetch(url);
const units: Array<any> = await response.json();

---
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <a href='/'>Back Home</a>
    <div>
        {
            units.map((unit: any) => (
                <Unit
                    lessons = {lessons.filter((lesson: any) => lesson.unit === unit.id)}
                    title={unit.title}
                    position={unit.position}
                />
            ))
        }
    </div>
</body>
