---
export const prerender = true;

import Unit from '../../components/Unit.astro';

import courses from '../../cms-data/courses.json';

export async function getStaticPaths() {
    return courses.map((course: any) => ({
        params: { slug: course.slug },
        props: { course },
    }));
}

interface Props {
    course: any;
}
const { course } = Astro.props;

const units = course.units;
---
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <a href='/'>Back Home</a>
    <div>
        {
            units.map((unit: any) => (
                <Unit
                    lessons = {unit.lessons}
                    title={unit.title}
                    position={unit.position}
                />
            ))
        }
    </div>
</body>
