---
export const prerender = true;

import Card from '../../components/Card.astro';

const imgUrlPrefix = "https://res.cloudinary.com/dtysyyt3a/"

export async function getStaticPaths() {
    const url = "https://web-production-2275.up.railway.app/courses/";
    const response = await fetch(url);
    const courses = await response.json();

    return courses.map((course: any) => ({
        params: { slug: course.slug },
        props: { course },
    }));
}

interface Props {
    course: any;
}
const { course } = Astro.props;

const url = `https://web-production-2275.up.railway.app/courses/${course.id}/lessons`;
const response = await fetch(url);
const lessons = await response.json();
---
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <a href='/'>Back Home</a>
    <div>
        {
            lessons.map((lesson: any) => (
                <Card
                    href={`/lesson/${lesson.id}/`}
                    title={lesson.title}
                    body={lesson.description}
                    img={imgUrlPrefix + lesson.thumbnail}
                />
            ))
        }
</div>
</body>
